{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="offset-3 col-lg-6 sign_form">
                <h1 class="text-center">Welcome to main page</h1>
                <ul>
                    {% for user in users %}
                        <li>{{ user.username|e }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

