{% extends 'base.html.twig' %}

{% block body %}
    <div class="container ">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="text-center">
                    <span>&#171;</span>{{ profile.username }}<span>&#187;</span>
                </h1>
                <div class="text-center">

                </div>
                <h3 class="text-center">{{ profile.name }}</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

