{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="offset-3 col-lg-6 sign_form">
                <h1 class="text-center">Registration</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">Registration</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}

{% endblock %}

